{{!< default}}

<div class="flex flex-col items-center justify-center min-h-[50vh] text-center">
    <h1 class="text-[14vmin] font-heading leading-none">{{statusCode}}</h1>
    <p class="mt-4 text-lg opacity-60">{{message}}</p>
    <a href="{{@site.url}}" class="mt-8 underline hover:no-underline">Go to the front page &rarr;</a>

    {{#if errorDetails}}
    <section class="mt-12 max-w-xl text-left">
        <h4 class="font-bold">Theme errors:</h4>
        <ul class="mt-4 space-y-4 text-sm">
            {{#foreach errorDetails}}
            <li class="border-t border-mono-200 pt-4">
                <h5 class="text-red-600 font-medium">{{{rule}}}</h5>
                {{#foreach failures}}
                <p class="mt-1"><strong>Ref:</strong> {{ref}}</p>
                <p><strong>Message:</strong> {{message}}</p>
                {{/foreach}}
            </li>
            {{/foreach}}
        </ul>
    </section>
    {{/if}}
</div>
